<?xml version="1.0"?>
<configuration>
  
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="HAENGSUNG_HNSMES_UI.Settings_IDAT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="iDAT_HSDMES.Settings_IDAT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraBars.v." publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.6.0" newVersion="10.2.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v10.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.6.0" newVersion="10.2.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraEditors.v10.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.6.0" newVersion="10.2.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraGrid.v10.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.6.0" newVersion="10.2.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraLayout.v10.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.6.0" newVersion="10.2.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v10.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.6.0" newVersion="10.2.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraPivotGrid.v10.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.6.0" newVersion="10.2.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
    <userSettings>
        <HAENGSUNG_HNSMES_UI.Settings_IDAT>
            <setting name="Scan_Comport" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Scan_BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Scan_ParityBit" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Scan_DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Scan_Use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Print_Comport" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="Print_BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Print_DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Print_StopBit" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="WS_Address" serializeAs="String">
                <value>http://218.158.2.71:8807/IDISYS_2012/IDAT_WebSvr.asmx</value>
            </setting>
            <setting name="Print_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Print_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Print_Use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>KOREAN</value>
            </setting>
            <setting name="Login_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Favorites_MAXCOUNT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Use_Favorites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Use_DefaultMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SKIN" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Scan_StopBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Print_ParityBit" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Socket_Port" serializeAs="String">
                <value>1004</value>
            </setting>
            <setting name="Print_CommunicationType" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="Use_TouchMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WCF_ServiceIP" serializeAs="String">
                <value>100.100.100.173</value>
            </setting>
            <setting name="Print_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Print_ParallelPortName" serializeAs="String">
                <value>LPT1</value>
            </setting>
            <setting name="Print_FlowControl" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Print_NetworkIPAddress" serializeAs="String">
                <value>172.20.30.242</value>
            </setting>
            <setting name="Print_NetworkPort" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Print_DPI" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Print_ProgrammingLanguage" serializeAs="String">
                <value>ZPL</value>
            </setting>
            <setting name="Print_Copies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Print_Mirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Print_Rotate180" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Print_LabelTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Scan2_Comport" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan2_BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan2_DataBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan2_ParityBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan2_StopBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Use_Auto_Login" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin_User" serializeAs="String">
                <value />
            </setting>
            <setting name="TSC_PRINT_NAME" serializeAs="String">
                <value>TSC TTP-243 Pro</value>
            </setting>
            <setting name="WINSTYLE" serializeAs="String">
                <value>NORMAL</value>
            </setting>
            <setting name="PLANT" serializeAs="String">
                <value />
            </setting>
            <setting name="Level1" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="Level2" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Level3" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BRD_WORKCTR" serializeAs="String">
                <value />
            </setting>
            <setting name="BONDING_LINE" serializeAs="String">
                <value />
            </setting>
            <setting name="BONDING_UNIT" serializeAs="String">
                <value />
            </setting>
            <setting name="BONDING_PARTNO" serializeAs="String">
                <value />
            </setting>
            <setting name="OPER" serializeAs="String">
                <value />
            </setting>
            <setting name="PassLabel" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NGLabel" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Scan3_Comport" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan3_BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan3_DataBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan3_ParityBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan3_StopBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan4_Comport" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan4_BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan4_DataBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan4_ParityBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan4_StopBit" serializeAs="String">
                <value />
            </setting>
        </HAENGSUNG_HNSMES_UI.Settings_IDAT>
        <iDAT_HSDMES.Settings_IDAT>
            <setting name="Scan_Comport" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Scan_BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Scan_ParityBit" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Scan_DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Scan_Use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Print_Comport" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="Print_BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Print_DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Print_StopBit" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="WS_Address" serializeAs="String">
                <value>http://218.158.2.71:8806/Sewon/IDAT_WebSvr.asmx</value>
            </setting>
            <setting name="Print_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Print_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Print_Use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Login_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Favorites_MAXCOUNT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Use_Favorites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Use_DefaultMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SKIN" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Scan_StopBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Print_ParityBit" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Socket_Port" serializeAs="String">
                <value>1004</value>
            </setting>
            <setting name="Print_CommunicationType" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="Use_TouchMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WCF_ServiceIP" serializeAs="String">
                <value />
            </setting>
            <setting name="Print_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Print_ParallelPortName" serializeAs="String">
                <value>LPT1</value>
            </setting>
            <setting name="Print_FlowControl" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Print_NetworkIPAddress" serializeAs="String">
                <value>172.20.30.242</value>
            </setting>
            <setting name="Print_NetworkPort" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Print_DPI" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Print_ProgrammingLanguage" serializeAs="String">
                <value>ZPL</value>
            </setting>
            <setting name="Print_Copies" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Print_Mirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Print_Rotate180" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Print_LabelTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Scan2_Comport" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan2_BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan2_DataBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan2_ParityBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Scan2_StopBit" serializeAs="String">
                <value />
            </setting>
            <setting name="Use_Auto_Login" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin_User" serializeAs="String">
                <value />
            </setting>
            <setting name="Use_Pda_Print" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COVER_LABEL_PRT1port" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COVER_LABEL_PRT2port" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="COVER_LABEL_PRT3port" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="COVER_LABEL_chkPRT1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COVER_LABEL_chkPRT2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COVER_LABEL_chkPRT3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COVER_LABEL_LINE1" serializeAs="String">
                <value>01000003400010[DATA]</value>
            </setting>
            <setting name="COVER_LABEL_LINE2" serializeAs="String">
                <value>01000002400010[DATA]</value>
            </setting>
            <setting name="COVER_LABEL_LINE3" serializeAs="String">
                <value>01000001400010[DATA]</value>
            </setting>
            <setting name="COVER_LABEL_BULK" serializeAs="String">
                <value>04000003400010[DATA]</value>
            </setting>
            <setting name="TSC_PRINT_NAME" serializeAs="String">
                <value>TSC TTP-243 Pro</value>
            </setting>
        </iDAT_HSDMES.Settings_IDAT>
    </userSettings>
    <system.net>
      <defaultProxy enabled="false" />
    </system.net>
</configuration>
